<%= form_for([@project, @pledge]) do |f| %>
    <% if @pledge.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@pledge.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @pledge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
