
<%= link_to "New Project", new_project_path %>
	<h1>
		<%= @user.first_name %><%= @user.last_name %>
	</h1>

	<h2><%= @user.email %></h2>

<% @user.pledges.each do |pledge|%>
    <p>pledge name: <%= link_to "#{pledge.project.name}", project_path(pledge.project) %></p>
	<p>pledge amount: <%= pledge.amount %></p>
    <%@total += pledge.amount %>
    <%@numofpledges += 1 %>
<% end %>
<p>Total amount you have pledge: <%= @total %></p>
<p>Number of Pledges: <%= @numofpledges %>

<h3><%= link_to "Your projects", projects_path %> <br></h3>
