
<%= link_to "New Project", new_project_path %>
	<h1>
		<%= @user.first_name %><%= @user.last_name %>
	</h1>

	<h2><%= @user.email %></h2>

<% @user.pledges.each do |pledge|%>
    <p>pledge name: <%= pledge.project.name %></p><br>
	<p>pledge amount: <%= pledge.amount %></p><br>
    <p> <%@total += pledge.amount %></p>
<% end %>
<p>Total amount you have pledge <%= @total %></p>

<h3><%= link_to "Your projects", projects_path %> <br></h3>
