
<%= link_to "New Project", new_project_path %>
	<h1>
		<%= @user.first_name %><%= @user.last_name %>
	</h1>

<h3><%= @user.first_name%>'s' Projects</h3>
<% @user.projects.each do |project| %>
<p>project name: <%= link_to "#{project.name}", project_path(project) %></p>
<p>Project pledge amount total:<%= project.total %>$</p>
<p>Total Pledges <%= project.pledges.count%></p>
<% end %>

<h3>Pledges</h3>
<% @user.pledges.each do |pledge|%>
    <p>pledge name: <%= link_to "#{pledge.project.name}", project_path(pledge.project) %></p>
	<p>pledge amount: <%= pledge.amount %></p>
    <%@total += pledge.amount %>
    <%@numofpledges += 1 %>
<% end %>
<p>Total amount you have pledge: <%= @total %></p>
<p>Number of Pledges: <%= @numofpledges %></p>


