<%= stylesheet_link_tag "application.css" %>
<% if @projects != nil %>
<p class="current-display">Current Projects</p>

<% @projects.each do |project| %>
<div class="main-project">
		<%= link_to image_tag(project.image), project_path(project), class: 'project-img-link' %>
		<div class="info-box">
		<p class="project-name"><%= link_to "#{project.name}", project_path(project) %></p>
		<p class="creator"><%= link_to "#{project.user.name}", user_path(project.user) %></p>
		<p class="description"><%= project.description%></p>
		<p class="project-fund">Goal: <%= project.funding_goal %>$</p>		
		<p class="project-pledged">Pledged: <%= project.total %>$</p>
		</div>
		</div>
</div>
	
<% end %>
<%end%>

<h1 style="width:100%; height: 50px; margin-top: 50px; border-bottom: 2px solid lightgrey; text-align: center; ">Categories</h1>
	
	<% @categories.each do |category| %>
		<div class="category-show">
		   
		    <%= link_to image_tag(category.image), category_path(category),class: 'category-link' %>
			<%= link_to category.name, category_path(category), class: 'category-name' %>
	    </div>
	<% end %>
