<h1>New Project</h1>

<%= form_for @project do |f| %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>

	<div class="field">
		<%= f.label :funding_goal %>
		<%= f.text_field :funding_goal %>
	</div>
    <%= f.hidden_field :total, :value => "1" %>

    <%= f.hidden_field :start_date, :value => Time.now %>
 

	<div class="field">
		<%= f.label :end_date %>
		<%= f.datetime_select :end_date, start_year: 2015, discard_minute: true, discard_hour: true %>
	</div>


	<h2>Rewards</h2>

	<div id="rewards">
		<%= f.fields_for :rewards do |reward| %>
			<%= render 'reward_fields', f: reward %>
		<% end %>
		<%= link_to_add_association 'Add Reward', f, :rewards %>
	</div>

	<div class="field">
		<%= f.submit %>
	</div>
<% end %>