<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<h1 class="main-project-name"><%= @project.name %></h1>
<p class="project-creator">by <%= link_to "#{@project.user.name}", user_path(@project.user) %></p>


<div class="project-image">
<img src="<%= @project.image %>">
</div>

<div class="project-side">
    <p style="font-size: 40px; font-weight:bold; margin-bottom: 5px;"><%= @project.pledges.count %></p>
    <p style="font-size: 15px; font-weight:bold; margin-bottom: 5px;">Pledgers</p>

 
    <% if @project.total == nil %>
    <p style="font-size: 40px; font-weight:bold; margin-bottom: 5px;">0</p>
    <% else %>
    <p style="font-size: 40px; font-weight:bold; margin-bottom: 5px;">$<%= @project.total %></p>
    <% end %>
    <p style="font-size: 15px; margin-bottom: 25px; font-weight:bold;">Funding of $<%= @project.funding_goal %> goal</p>
    <p style="color: grey; height: 100px; width: 300px;"><%= @project.description %></p>
    
        <% if (Time.now() < @project.end_date) %>
          <p style="margin-bottom: 45px;">This project ends in <%= distance_of_time_in_words_to_now(@project.end_date) %>.</p>
        <% else %>
          Funding for this project has ended.
        <% end %>
    </p>

   <% if (Time.now() > @project.end_date) %>
   <p>This project has expired!</p>
  <% else %>
   <%= link_to "Pledge!", new_project_pledge_path(@project), class: 'pledge-button' %>
  <% end %>




</div>


<h2 style="font-family: arial; width: 100%; text-align: center; padding-top: 50px; border-top: 2px solid lightgrey; display:block">Rewards</h2>
<div>
	<% @project.rewards.each do |reward| %>
<div class="main-reward">
  <img style = "width: 325px; height: 200px: border-radius: 5px;"src= "<%= reward.image %>">
  <div class="reward-info">
    	<p class="reward-title"><%= reward.title %></p>
    	<p class="reward-description"><%= reward.description %></p>
    	<p class="reward-amount">Amount:$ <%= reward.amount %></p>
      </div>
</div>
  <% end %>



<div id="sep">
<h3 id="t">Comments</h3>

<% @project.comments.each do |comment| %>
  <ul>
  <div id='com'>
<p><strong><%= comment.text %></strong></p>
<p><li>Posted By: <em><%= comment.user.name %></em>. Added on <%= comment.created_at %></li></p>
</ul>
</div>
<% end %>
</div>

  <% if current_user %>
  <h4>Add a Comment:</h4>

  <%= form_for [@project, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> Comment could not be saved </h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_area :text %>
    </div>
    <div id="comment">
      <%= f.submit %>
    </div>
  <% end %>


<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a comment.</p>
<% end %>

<% unless current_user.blank? %>
<% if @project.total == nil && @project.user_id == current_user.id %>
<%= link_to "Delete", project_path(@project), method: :delete %><br></p>
<% elsif current_user == nil %>
<% end %>
<% end %>

