<%= link_to "Back", projects_path(@projects) %>
<h1><%= @project.name %></h1>

<div>

	<ul>
    <li>Description: <%= @project.description %></li>
    <li>
        <% if (Time.now() < @project.end_date) %>
          This project ends in <%= distance_of_time_in_words_to_now(@project.end_date) %>.
        <% else %>
          Funding for this project has ended.
        <% end %>
    </li>
  </ul>

   <% if (Time.now() < @project.end_date) %>
  <%= link_to "Pledge!", new_project_pledge_path(@project) %>
  <% else %>
  <% end %>


<p>Funding Goal: <%= @project.funding_goal %></p>
<% if @project.total == nil %>
<p>No one has pledge to this project</p>
<% else %>
<p>Total Raised: <%= @project.total %>$</p>
<% end %>


</div>
<h2>Rewards</h2>
<div>
	<% @project.rewards.each do |reward| %>
  	<ul>
    	<li>Title: <%= reward.title %></li>
    	<li>Description: <%= reward.description %></li>
    	<li>Amount: <%= reward.amount %>$</li>
  	</ul>
	<% end %>
</div>

<h3>Comments</h3>

<% @project.comments.each do |comment| %>
  <ul>
<p><li><strong><%= comment.text %></strong></li></p>
<p>Posted By: <em><%= comment.user.name %></em>. Added on <%= comment.created_at %></p>
</ul>
<% end %>

  <% if current_user %>
  <h4>Add a Comment:</h4>

  <%= form_for [@project, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> Comment could not be saved </h2>

        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :text %><br />
      <%= f.text_area :text %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>


<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a comment.</p>
<% end %>

<% if @project.total == nil || @project.total < 0 && @project.owner_id == current_user.id %>
<%= link_to "Delete", project_path(@project), method: :delete %><br></p>
<% elsif current_user == nil %>
<% end %>

