<h1><%= @project.name %></h1>

<div>
	<ul>
    <li>Description: <%= @project.description %></li>
  </ul>
</div>

<div>
	<% @project.rewards.each do |reward| %>
  	<ul>
    	<li>Title: <%= reward.title %></li>
    	<li>Description: <%= reward.description %></li>
    	<li>Amount: <%= reward.amount %></li>
  	</ul>
	<% end %>
</div>

